.select2-container--classic .select2-selection--single .select2-selection__arrow {
    height: 38px !important;
}

.select2-container--classic .select2-selection--single {
    height: 40px !important;
}

.select2-container--classic .select2-selection--single .select2-selection__clear {
    height: 37px !important;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered {
    line-height: 39px !important;
}